---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <details open>
      <summary class="w-fit mx-auto mt-5 mb-6 cursor-pointer list-none" aria-label="展开或收起目录">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
            <Image class="mask mask-circle" format="webp" width={300} height={300} src="/avatar.jpg" alt="140 的头像" />
          </div>
        </div>
      </summary>
      <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    </details>
    <SideBarFooter />
  </aside>
</div>
